langchain
langchain-community
streamlit

# for using local model
langchain-ollama
# langchiain-openai
numpy

# database
langchain-chroma
# faiss-gpu or faiss-cpu

#Retrival Chains
langchain_classic

# AWS
awscli
boto3
langchain-aws 
